.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;
  padding: 0 0.5rem;
  */
  background-color: #ffffff;
}

.main {
  display: flex;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header {
  padding: 30px 5% 30px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(211, 250, 255);
  border-radius: 0% 0% 25% 25%;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.header nav {
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 20px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  color: #051125;/*文字色*/
  /*線の種類（点線）2px 線色*/
  width: auto;
  margin: 10px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.flex_row_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 800px;
}

.flex_column_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
}

.flex_description_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 50px;
  margin-top: 100px;
  width: 750px;
}

.flex_description_container_topmargin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 750px;
}

.flex_item{
  margin: auto;
}

.text_area {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 2.0px);
  -webkit-backdrop-filter: blur( 2.0px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18);
  object-fit: cover;
  width: 300px;
  height: 300px;
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.text_area_wide {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
  backdrop-filter: blur( 2.0px);
  -webkit-backdrop-filter: blur( 2.0px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18);
  object-fit: cover;
  width: 750px;
  height: 200px;
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.hvr_sweep_to_right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #67c5ff;
  margin: 10px;
  padding: 10px;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr_sweep_to_right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr_sweep_to_right:hover, .hvr_sweep_to_right:focus, .hvr_sweep_to_right:active {
  color: white;
}
.hvr_sweep_to_right:hover:before, .hvr_sweep_to_right:focus:before, .hvr_sweep_to_right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.description_details{
  position: relative;
}

.modal_help_button_container{
  position:fixed;
  right:50px;
  bottom:50px;
  transition:1s;
  opacity:0.7;
}

.modal_help_button{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  font-size: 200%;
}

.modal_help_button:hover {
  background: #668ad8;
}


@media (max-width: 800px) {

  .main {
    display: flex;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
  .flex_row_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 350px;
  }
  
  .flex_column_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
  }
  
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .header nav {
    margin: 0 0 0 auto;
    padding: 0;
    font-size: 10px;
  }

  .flex_description_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 50px;
    margin-top: 100px;
    width: 350px;
  }

  .flex_description_container_topmargin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 350px;
  }

  .text_area_wide {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 2.0px);
    -webkit-backdrop-filter: blur( 2.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    object-fit: cover;
    width: 350px;
    height: 200px;
    font-size: 0.9rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
}